.faq {

  padding-top: 38px;
  padding-bottom: 50px;
  // .faq__container

  &__container {
  }

  // .faq__title

  &__title {
    color: var(--shark);

    & span{
      color: var(--dodger-blue);
    }
  }

  // .faq__subtitle

  &__subtitle {
    margin-top: 33px;
    color: var(--shark);
    line-height: 140%;
    max-width: 585px;
  }

  // .faq__content

  &__content {
    max-width: 1022px;
    margin: 0 auto;
    margin-top: 45px;
  }

  // .faq__list

  &__list {
  }

  // .faq__item

  &__item {
    background-color: var(--concrete);
    border-radius: var(--border-radius);
    overflow: hidden;

    &:not(:first-child){
      margin-top: 20px;
    }
  }

  // .faq__btn

  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 17px 20px;
  }

  // .faq__question

  &__question {
    margin-right: 15px;
    text-align: left;
    line-height: 116%;
  }

  // .faq__icon

  &__icon {

    display: flex;
    align-items: center;
    justify-content: center;
  
    & svg{
      width: 16px;
      height: 20px;
      fill: var(--oslo-gray);
      transform: rotate(-90deg);

      transition: all .3s ease;
    }

    .faq__item--open & svg{
      transform: rotate(90deg);
      fill: var(--shark);
    }

  }

  // .faq__answer

  &__answer {

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 20px;
    will-change: max-height;
    transition: all .5s ease;
    box-sizing: content-box;

    & p{
      font-weight: 400;
      line-height: 171%;
      color: var(--oslo-gray);
    }

    .faq__item--open &{
      opacity: 1;
      padding: 7px 20px 20px 20px;
    }
  }
}
