.modal-form {

  // .modal-form__container

  &__container {
    max-width: 395px;
    padding: 15px 20px 20px 20px;
  }

  // .modal-form__close

  &__close {
  }

  // .modal-form__content

  &__content {
  }

  // .modal-form__title

  &__title {
    text-align: center;
    color: var(--shark);
  }

  // .modal-form__form

  &__form {
    margin-top: 10px;
  }

  // .modal-form__row

  &__row {
    &:not(:first-child){
      margin-top: 15px;
    }
  }

  // .modal-form__label

  &__label {
    display: flex;
    flex-direction: column;
    color: var(--shark);

    &--checkbox{
      flex-direction: row;
      align-items: center;
      font-weight: 400;
      color: var(--oslo-gray);
      line-height: percent(16, 12);
    }
  }

  // .modal-form__input

  &__input {
    margin-top: 7px;
    width: 100%;

    @include adaptiveValue('font-size', 16, 14, $keepSize: 1);
    line-height: percent(22, 16);
    font-weight: 400;
    color: var(--shark);

    border: 1px solid var(--concrete);
    border-radius: var(--border-radius);

    padding: 16px 15px;

    transition: border-color .3s ease;

    @include hover{
      border-color: var(--aqua);
    }

    &::placeholder{
      color: var(--oslo-gray);
    }
    
    &:focus{
      outline: none;
      border-color: var(--dodger-blue);
    }

    &--checkbox{
      width: 1px;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type=number] {
      -moz-appearance: textfield;
    }
  }

  &__actions{
    margin-top: 25px;
    width: 100%;
  }

  &__btn{
    width: 100%;
  }

  &__svg{
    width: 20px;
    height: 20px;
    fill: var(--shark);
  }

  &__link{
    color: var(--dodger-blue);
    text-decoration: underline;
  }

  /* CF7 */

  & label br{
    display: none !important;
  }

  & .modal-form__input.wpcf7-not-valid{
    border-color: var(--cosmos);
    background-color: var(--chablis);
  }

  & .modal-form__input.wpcf7-not-valid + .wpcf7-not-valid-tip{
    font-size: rem(12);
    color: var(--error-text) !important;
    line-height: 1;
    margin-top: 5px;
    font-weight: 400;
  }

  & .wpcf7-checkbox.wpcf7-not-valid + .wpcf7-not-valid-tip{
    display: none;
  }

  & .wpcf7-checkbox input[type=checkbox]{
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
  }

  & .wpcf7-checkbox input[type=checkbox] + span{
    font-size: 0;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    border: 1px solid #EAEEF3;
    border-radius: 5px;

    transition: border .3s ease;
  }

  & .wpcf7-checkbox input[type=checkbox]:checked + span{
    border-color: var(--dodger-blue);
    background-image: url(./../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }

  & .wpcf7-checkbox.wpcf7-not-valid input[type=checkbox] + span{
    border-color: var(--cosmos);
    background-color: var(--chablis);
  }

  & .wpcf7-checkbox input[type=checkbox]:focus + span{
    border-color: var(--dodger-blue);
  }

  & .modal-form__label--checkbox label{
    display: flex;
    align-items: center;
    color: var(--oslo-gray);
  }
}
