<section class="about-us">
  <div class="about-us__container container">
    <h2 class="about-us__title h2">About <span>Us</span></h2>
    <div class="about-us__top top-about-us">
      <div class="top-about-us__row top-about-us__row--2">
        <div class="top-about-us__col top-about-us__col--align-self">
          <div class="top-about-us__content">
            <p class="top-about-us__text h4">Hi there! Paws Air offers charter flight service between North America and the Caribbean for hoomans and their pets.</p>
            <div class="top-about-us__arrow top-about-us__arrow--ml">
              <svg class="top-about-us__svg">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="top-about-us__col">
          <div class="top-about-us__img">
            <picture>
              <source type="image/webp" data-srcset="./img/about-us-1@1x.webp 1x, ./img/about-us-1@2x.webp 2x">
              <img loading="lazy" class="image lazy" width="565" height="161" alt=""
                data-src="./img/about-us-1@1x.jpg"
                data-srcset="./img/about-us-1@2x.jpg 2x"
              >
            </picture>
          </div>
        </div>
      </div>
      <div class="top-about-us__row top-about-us__row--2 top-about-us__row--revert">
        <div class="top-about-us__col top-about-us__col--align-self">
          <div class="top-about-us__img">
            <picture>
              <source type="image/webp" data-srcset="./img/about-us-2@1x.webp 1x, ./img/about-us-2@2x.webp 2x">
              <img loading="lazy" class="image lazy" width="565" height="161" alt=""
                data-src="./img/about-us-2@1x.jpg"
                data-srcset="./img/about-us-2@2x.jpg 2x"
              >
            </picture>
          </div>
        </div>
        <div class="top-about-us__col top-about-us__col--align-self">
          <div class="top-about-us__content">
            <div class="top-about-us__arrow top-about-us__arrow--mr">
              <svg class="top-about-us__svg">
                <use xlink:href="img/sprite.svg#arrow-left"></use>
              </svg>
            </div>
            <p class="top-about-us__text h4">We believe pets are family, and should be treated that way. All our pawsengers travel in the main cabin with their hooman(s) on all our flights. Our planes hold between 20 and 100 hoomans with their pets, depending on departure airport and demand.</p>
          </div>
        </div>
      </div>
      <div class="top-about-us__row">
        <div class="top-about-us__col">
          <div class="top-about-us__content">
            <p class="top-about-us__text h4">You can also contact us for the most up-to-date schedule of flights and pricing and for any questions you may have.</p>
          </div>
        </div>
      </div>
      <div class="top-about-us__row top-about-us__row--3">
        <div class="top-about-us__col top-about-us__col--align-self">
          <div class="top-about-us__content">
            <p class="top-about-us__text h4">We also offer return flight service from the Caribbean to North America. Contact us for return flight pricing.</p>
          </div>
        </div>
        <div class="top-about-us__col top-about-us__col--align-self">
          <button class="top-about-us__btn btn btn-reset">Call Back</button>
        </div>
        <div class="top-about-us__col top-about-us__col--align-self">
          <button class="top-about-us__btn btn btn-reset">Current Flights and Pricing</button>
        </div>
      </div>
    </div>
    <div class="about-us__block block-about-us">
      <p class="block-about-us__text h3">No&nbsp;two hoomans (or&nbsp;pets) are alike&nbsp;&mdash; we&nbsp;are here to&nbsp;assist you and ensure your flight <span>is&nbsp;an&nbsp;absolutely pawsitive experience.</span></p>
    </div>
    <div class="about-us__bottom bottom-about-us">
      <div class="bottom-about-us__top">
        <div class="bottom-about-us__img">
          <picture>
            <source type="image/webp" data-srcset="./img/about-us-3@1x.webp 1x, ./img/about-us-3@2x.webp 2x" >
            <img loading="lazy" class="image lazy" width="564" height="116" alt=""
              data-src="./img/about-us-3@1x.jpg"
              data-srcset="./img/about-us-3@2x.jpg 2x"
            >
          </picture>
        </div>
      </div>
      <div class="bottom-about-us__row">
        <div class="bottom-about-us__col">
          <div class="bottom-about-us__content">
            <h3 class="bottom-about-us__titile bottom-about-us__titile--black h2">Mission</h3>
            <p class="bottom-about-us__text h4">To get pets and their hoomans where they need to go, together.</p>
          </div>
          <div class="bottom-about-us__arrow bottom-about-us__arrow--ml">
            <svg class="bottom-about-us__svg">
              <use xlink:href="img/sprite.svg#arrow-left"></use>
            </svg>
          </div>
        </div>
        <div class="bottom-about-us__col">
          <div class="bottom-about-us__arrow bottom-about-us__arrow--mr">
            <svg class="bottom-about-us__svg">
              <use xlink:href="img/sprite.svg#arrow-left"></use>
            </svg>
          </div>
          <div class="bottom-about-us__content">
            <h3 class="bottom-about-us__titile bottom-about-us__titile--blue h2">Vision</h3>
            <p class="bottom-about-us__text h4">Pets are family members (maybe with a little more fur) and should be treated that way. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>