<section class="contact-us">
  <div class="contact-us__container container">
    <h2 class="contact-us__title h2">Contact <span>Us</span></h2>
    <div class="contact-us__body">
      <div class="contact-us__content">
        <p class="contact-us__text h3">Ready to fly the furry skies? Contact us and we will get back to you within 24 hours. Or check out our frequently asked questions.</p>
        <button class="contact-us__btn btn btn-reset" data-graph-path="call-back">Call Back</button>
      </div>
    </div>
  </div>
</section>