<section class="customers">
  <div class="customers__container container">
    <h2 class="customers__title h2">Pictures of our <span>happy customerss</span></h2>
    <div class="customers__content">
      <div class="customers__controller">
        <button id="customers-slider-prev" class="customers__btn customers__btn--prev btn-reset" disabled>
          <svg class="customers__svg">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </button>
        <button id="customers-slider-next" class="customers__btn customers__btn--next btn-reset">
          <svg class="customers__svg">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </button>
      </div>
      <div id="customers-slider" class="customers__slider">
        <div class="customers__item">
          <picture>
            <source type="image/webp" data-srcset="./img/customers-1@1x.webp 1x, ./img/customers-1@2x.webp 2x">
            <img  class="customers__img tns-lazy-img" width="320" height="320" alt=""
              data-src="./img/customers-1@1x.jpg"
              data-srcset="./img/customers-1@2x.jpg 2x"
            >
          </picture>
        </div>
        <div class="customers__item">
          <picture>
            <source type="image/webp" data-srcset="./img/customers-2@1x.webp 1x, ./img/customers-2@2x.webp 2x">
            <img  class="customers__img tns-lazy-img" width="320" height="320" alt=""
              data-src="./img/customers-2@1x.jpg"
              data-srcset="./img/customers-2@2x.jpg 2x"
            >
          </picture>
        </div>
        <div class="customers__item">
          <picture>
            <source type="image/webp" data-srcset="./img/customers-3@1x.webp 1x, ./img/customers-3@2x.webp 2x">
            <img  class="customers__img tns-lazy-img" width="320" height="320" alt=""
              data-src="./img/customers-3@1x.jpg"
              data-srcset="./img/customers-3@2x.jpg 2x"
            >
          </picture>
        </div>
        <div class="customers__item">
          <picture>
            <source type="image/webp" data-srcset="./img/customers-3@1x.webp 1x, ./img/customers-3@2x.webp 2x">
            <img  class="customers__img tns-lazy-img" width="320" height="320" alt=""
              data-src="./img/customers-3@1x.jpg"
              data-srcset="./img/customers-3@2x.jpg 2x"
            >
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>