<footer id="footer" class="footer">
  <div class="footer__container container">
    <h2 class="footer__title h2">The Fine <span>Print</span></h2>
    <p class="footer__subtitle h3">Payment terms and conditions</p>
    <ul class="footer__list list-reset">
      <li class="footer__item">
        <p class="footer__text h6">1. I understand that payment in full is required to process a seat for me and my pet. I understand that if I have more than 1 (one) pet, I must contact Paws Air and procure clearance for additional pet(s) beyond 1 (one) pet to fly. Failure to do so will result in any additional pets beyond 1 (one) pet being denied boarding at my own risk and cost.</p>
      </li>
      <li class="footer__item">
        <p class="footer__text h6">2. I understand that a minimum of 50% of the seats must be sold for the plane to fly. If 50% of the seats are not sold within 30 days of scheduled departure, the flight will be cancelled, and I will receive a full refund of the ticket price via return to the method in which I  paid.</p>
      </li>
      <li class="footer__item">
        <p class="footer__text h6">3. I understand that tickets are non-refundable. Once I have booked and paid for my flight, if I try to cancel my booking or do not arrive at the designated airport in time for the flight departure, I forfeit my ticket and will not receive a refund of any kind.</p>
      </li>
      <li class="footer__item">
        <p class="footer__text h6">4. I understand that if there is a mechanical failure that prevents the plane from departing, my ticket will be transferred to an alternate flight that will depart to my original destination as soon as possible.</p>
      </li>
      <li class="footer__item">
        <p class="footer__text h6">5. I understand that, in the case of an Act of God (e.g., closure of airport or flight path due to inclement weather), I will receive a refund for the full price of my ticket, via the same payment method I used to originally purchase the ticket. I acknowledge that Paws Air, in its sole discretion, can cancel any flight that does not meet sufficient demand requirements to fly. In the case that a flight is cancelled, I understand and agree that it will be cancelled at lest 30 days prior to the scheduled departure date and that I will receive notification in writing, via email, that the flight has been cancelled and that that I will receive a refund for the full cost of the flight via the same payment method I used to originally purchase the ticket.</p>
      </li>
      <li class="footer__item">
        <p class="footer__text h6">6. I understand that Paws Air is a flight agency that brokers charter flights for passengers and their pets and does not own, operate, or maintain any aircraft. The charter flight company takes full responsibility for providing transport for me and my pet(s) from the departure airport to the arrival airport. I hereby agree not to hold Paws Air or its owners, officers, directors, and/or shareholders liable for any action or inaction by the charter flight company in transporting me and my pet(s) and as outlined in my designated fare.</p>
      </li>
    </ul>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__wrap">
        <div class="footer__left">
          <ul class="footer__menu footer-menu list-reset">
            <li class="footer-menu__item">
              <a href="" class="footer-menu__link">© 2022 ProHabits</a>
            </li>
            <li class="footer-menu__item">
              <a href="" class="footer-menu__link">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="footer__right">
          <ul class="footer__menu footer-social list-reset">
            <li class="footer-social__item">
              <a href="" class="footer-social__link">
                <svg class="footer-social__icon">
                  <use xlink:href="img/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
