<header class="header">
  <div class="header__container container">
    <a href="#" class="header__logo">
      <img src="./img/header-logo.svg" alt="Paws Air" width="267" height="88">
    </a>
    <nav class="header__nav" data-menu>
      <ul class="header__list list-reset">
        <li class="header__item" data-menu-item>
          <a href="#" class="header__link">About Us</a>
        </li>
        <li class="header__item" data-menu-item>
          <a href="#" class="header__link">How It Works</a>
        </li>
        <li class="header__item" data-menu-item>
          <a href="#" class="header__link">Our Service</a>
        </li>
        <li class="header__item" data-menu-item>
          <a href="#" class="header__link">Pictures</a>
        </li>
        <li class="header__item" data-menu-item>
          <a href="#" class="header__link">Questions</a>
        </li>
        <li class="header__item" data-menu-item>
          <a href="#" class="header__link">Registration Form</a>
        </li>
      </ul>
    </nav>
    <button class="header__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
