<section class="hero">
  <div class="hero__container container">
    <h1 class="hero__title h1">Experienced <br> and Trusted Transport <br> For Pets and People</h1>
    <div class="hero__form from-hero">
      <div class="from-hero__title h3">Order a call back</div>
      <form action="/" class="from-hero__form">
        <div class="from-hero__row">
          <label for="hero-name" class="from-hero__label h5">Name*</label>
          <input type="text" id="hero-name" class="from-hero__input input-reset" autocomplete="off" placeholder="Kate">
        </div>
        <div class="from-hero__row">
          <label for="hero-number" class="from-hero__label h5">Contact number*</label>
          <input type="number" id="hero-number" class="from-hero__input input-reset" autocomplete="off" placeholder="1 250 360 0814">
        </div>
        <div class="from-hero__row">
          <label for="hero-email" class="from-hero__label h5">Email*</label>
          <input type="email" id="hero-email" class="from-hero__input input-reset" autocomplete="off" placeholder="address@yahoo.com">
        </div>
        <div class="from-hero__row from-hero__row--checkbox">
          <label class="from-hero__label h6">
            <input type="checkbox" id="hero-privacy" class="from-hero__input from-hero__input--checkbox visually-hidden">
            <span class="from-hero__checkbox"></span>
            I have read and agree to the privacy policy
          </label>
        </div>
        <div class="from-hero__row from-hero__row--checkbox">
          <label class="from-hero__label h6">
            <input type="checkbox" id="hero-receive" class="from-hero__input from-hero__input--checkbox visually-hidden">
            <span class="from-hero__checkbox"></span>
            Yes, I would like to receive emails with exclusive updates and information
          </label>
        </div>
        <div class="from-hero__row from-hero__row--submit">
          <button type="submit" class="from-hero__btn btn btn-reset">Call Back</button>
        </div>
      </form>
    </div>
  </div>
  <div class="hero__img">
    <picture>
      <source type="image/webp" srcset="./img/hero-img@1x.webp 1x, ./img/hero-img@2x.webp 2x">
      <img loading="lazy" class="image" width="1340" height="508" alt=""
        src="./img/hero-img@1x.jpg"
        srcset="./img/hero-img@2x.jpg 2x"
      >
    </picture>
  </div>
</section>