<section class="how-it-work">
  <div class="how-it-work__container container">
    <h2 class="how-it-work__title h2">How does <span>it Work?</span></h2>
    <div class="how-it-work__grid">
      <div class="how-it-work__item">
        <div class="how-it-work__top">
          <div class="how-it-work__arrow">
            <svg class="how-it-work__svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <span class="how-it-work__name h4">1</span>
        </div>
        <div class="how-it-work__bottom">
          <p class="how-it-work__text h4">Pets fly in the cabin with their owners. Each hooman purchases a seat at the quoted one-way price, which allows one pet to travel. More than 1 pet? Contact us for a price quote.</p>
        </div>
      </div>
      <div class="how-it-work__item">
        <div class="how-it-work__top">
          <div class="how-it-work__arrow">
            <svg class="how-it-work__svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <span class="how-it-work__name h4">2</span>
        </div>
        <div class="how-it-work__bottom">
          <p class="how-it-work__text h4">Payment in full is due a minimum of 30 days prior to the flight. This is necessary to procure the flight. Once booked, tickets are 100% non-refundable. Do not book your ticket unless you are absolutely certain you are going to fly. In case of a delay of the  flight due to mechanical problems on the plane, third party actors (e.g., problems with the airport) or Act of God, the flight will be rescheduled.</p>
        </div>
      </div>
      <div class="how-it-work__item">
        <div class="how-it-work__top">
          <div class="how-it-work__arrow">
            <svg class="how-it-work__svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <span class="how-it-work__name h4">3</span>
        </div>
        <div class="how-it-work__bottom">
          <p class="how-it-work__text h4">Once payment is confirmed, you will receive your e-ticket and flight confirmation via email. Note that payment in full is required to procure your seat. The email will provide all the information you need to prepare you (and your pet) for the flight.</p>
        </div>
      </div>
      <div class="how-it-work__item">
        <div class="how-it-work__top">
          <div class="how-it-work__arrow">
            <svg class="how-it-work__svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <span class="how-it-work__name h4">4</span>
        </div>
        <div class="how-it-work__bottom">
          <p class="how-it-work__text h4">Enjoy your flight!</p>
        </div>
      </div>
    </div>
  </div>
</section>