<section class="information">
  <div class="information__container container">
    <div class="information__top">
      <h2 class="information__title h2">Important Information <br> <span>(Preparing to fly)</span></h2>
      <div class="information__img">
        <picture>
          <source type="image/webp" data-srcset="./img/information-img@1x.webp 1x, ./img/information-img@2x.webp 2x">
          <img loading="lazy" class="image lazy" width="566" height="116" alt=""
            data-src="./img/information-img@1x.jpg"
            data-srcset="./img/information-img@2x.jpg 2x"
          >
        </picture>
      </div>
    </div>
    <div class="information__bottom">
      <div class="information__controls">
        <button id="information-carousel-prev" class="information__btn information__btn--prev btn-reset" disabled>
          <svg class="information__svg">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </button>
        <button id="information-carousel-next" class="information__btn information__btn--next btn-reset">
          <svg class="information__svg">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </button>
      </div>
      <div id="information-carousel" class="information__content">
        <div class="information__item information__item--gray">
          <p class="h4">All flights are one-way. If you are interested in a return flight, you will need to book two one-way tickets.</p>
        </div>
        <div class="information__item information__item--light-blue">
          <p class="h4">All pe ts must have an up-to-date rabies vaccine within the last 12 months, to fly. Note that all pets must have proof of rabies vaccination within 12 months to enter most countries, including Grenada.</p>
        </div>
        <div class="information__item information__item--gray">
          <p class="h4">Flights are offered on a first-come, first-serve basis, and your seat is secured once full payment is received.</p>
        </div>
        <div class="information__item information__item--blue">
          <p class="h4">We ask for the weight of all pets and hoomans to ensure proper balance on the aircraft.</p>
        </div>
        <div class="information__item information__item--gray">
          <p class="h4">A minimum of 50% of the seats must be sold for the plane to fly. If 50% of the seats are not sold within 30 days of scheduled departure, the flight will be cancelled, and you will receive a full refund of the ticket price via return to the method in which you paid.</p>
        </div>
        <div class="information__item information__item--light-blue">
          <p class="h4">You are allowed one (1) checked bag up to a maximum of 50 lbs. and one (1) carry-on bag up to a maximum of 20 lbs.</p>
        </div>
        <div class="information__item information__item--gray">
          <p class="h4">All dogs must be muzzled while in transit, including at all times while in the airplane and in airport terminals.</p>
        </div>
        <div class="information__item information__item--blue">
          <p class="h4">Note that all pets returning to the USA must have a crate that they can fit in upon landing in the USA for clearance. Pets returning to the USA from Grenada at this time do not need proof of rabies vaccination, but the CDC website should always be checked for a potential change in this regulation.  </p>
        </div>
      </div>
    </div>
  </div>
</section>