<section class="service">
  <div class="service__container container">
    <h2 class="service__title h2">Our <span>service</span></h2>
    <div class="service__aircraft">
      <div class="service__table">
        <div class="service__name h3">We currently fly the following aircraft:</div>
        <ul class="service__list list-reset">
          <li class="service__list-item h4">(1) Embraer ERJ-145;</li>
          <li class="service__list-item h4">(2) CRJ200;</li>
          <li class="service__list-item h4">(3) CRJ700;</li>
          <li class="service__list-item h4">(4) Embraer ERJ175;</li>
          <li class="service__list-item h4">(5) CRJ900;</li>
          <li class="service__list-item h4">(6) Boeing 737.</li>
        </ul>
      </div>
      <div class="service__carousel aircraft-carousel">
        <div class="aircraft-carousel__controls">
          <button id="aircraft-carousel-prev" class="aircraft-carousel__arrow aircraft-carousel__arrow--prev btn-reset">
            <svg class="aircraft-carousel__svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
          <button id="aircraft-carousel-next" class="aircraft-carousel__arrow aircraft-carousel__arrow--next btn-reset">
            <svg class="aircraft-carousel__svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
        <div id="aircraft-carousel" class="aircraft-carousel__items">
          <div class="aircraft-carousel__item">
            <picture>
              <source type="image/webp" data-srcset="./img/aircraft-img-1@1x.webp 1x, ./img/aircraft-img-1@2x.webp 2x">
              <img loading="lazy" class="image aircraft-carousel__img tns-lazy-img" width="348" height="212" alt=""
                data-src="./img/aircraft-img-1@1x.jpg"
                data-srcset="./img/aircraft-img-1@2x.jpg 2x"
              >
            </picture>
          </div>
          <div class="aircraft-carousel__item">
            <picture>
              <source type="image/webp" data-srcset="./img/aircraft-img-2@1x.webp 1x, ./img/aircraft-img-2@2x.webp 2x">
              <img loading="lazy" class="image aircraft-carousel__img tns-lazy-img" width="348" height="212" alt=""
                data-src="./img/aircraft-img-2@1x.jpg"
                data-srcset="./img/aircraft-img-2@2x.jpg 2x"
              >
            </picture>
          </div>
          <div class="aircraft-carousel__item">
            <picture>
              <source type="image/webp" data-srcset="./img/aircraft-img-3@1x.webp 1x, ./img/aircraft-img-3@2x.webp 2x">
              <img loading="lazy" class="image aircraft-carousel__img tns-lazy-img" width="348" height="212" alt=""
                data-src="./img/aircraft-img-3@1x.jpg"
                data-srcset="./img/aircraft-img-3@2x.jpg 2x"
              >
            </picture>
          </div>
          <div class="aircraft-carousel__item">
            <picture>
              <source type="image/webp" data-srcset="./img/aircraft-img-4@1x.webp 1x, ./img/aircraft-img-4@2x.webp 2x">
              <img loading="lazy" class="image aircraft-carousel__img tns-lazy-img" width="348" height="212" alt=""
                data-src="./img/aircraft-img-4@1x.jpg"
                data-srcset="./img/aircraft-img-4@2x.jpg 2x"
              >
            </picture>
          </div>
          <div class="aircraft-carousel__item">
            <picture>
              <source type="image/webp" data-srcset="./img/aircraft-img-5@1x.webp 1x, ./img/aircraft-img-5@2x.webp 2x">
              <img loading="lazy" class="image aircraft-carousel__img tns-lazy-img" width="348" height="212" alt=""
                data-src="./img/aircraft-img-5@1x.jpg"
                data-srcset="./img/aircraft-img-5@2x.jpg 2x"
              >
            </picture>
          </div>
          <div class="aircraft-carousel__item">
            <picture>
              <source type="image/webp" data-srcset="./img/aircraft-img-6@1x.webp 1x, ./img/aircraft-img-6@2x.webp 2x">
              <img loading="lazy" class="image aircraft-carousel__img tns-lazy-img" width="348" height="212" alt=""
                data-src="./img/aircraft-img-6@1x.jpg"
                data-srcset="./img/aircraft-img-6@2x.jpg 2x"
              >
            </picture>
          </div>
        </div>
      </div>      
    </div>
    <div class="service__row">
      <div class="service__col">
        <div class="service__content">
          <div class="service__arrow">
            <svg class="service__svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <p class="service__text h4">Each plane is configured for pets and hoomans and is professionally deep cleaned after every flight. Some flights land in Puerto Rico for refuelling and to let you and your pet stretch out and take a bathroom break. </p>
        </div>
      </div>
      <div class="service__col">
        <div class="service__content">
          <div class="service__arrow">
            <svg class="service__svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <p class="service__text h4">Upon arrival, you and your pet are given VIP treatment, disembarking in a separate area from the rest of the commercial aircraft passengers.</p>
        </div>
      </div>
    </div>
    <div class="service__row service__row--second">
      <div class="service__col">
        <p class="service__text h3">You should complete the required registration for your pet’s arrival in Grenada well in advance of your flight</p>
      </div>
      <div class="service__col">
        <button class="service__btn btn btn-reset">Registration Form</button>
      </div>
    </div>
    <div class="service__row service__row--block">
      <div class="service__col">
        <div class="service__content service__content--light">
          <div class="service__arrow">
            <svg class="service__svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <p class="service__text service__text--light h4">Be prepared to provide the age, sex, color, and breed of your pet.</p>
        </div>
      </div>
      <div class="service__col">
        <div class="service__content service__content--light">
          <div class="service__arrow">
            <svg class="service__svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <p class="service__text service__text--light h4">The Grenada Ministry of Agriculture and Lands requires registration at least 2 weeks prior to your arrival.</p>
        </div>
      </div>
      <div class="service__col">
        <div class="service__content service__content--light">
          <div class="service__arrow">
            <svg class="service__svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <p class="service__text service__text--light h4">Note that all pets coming to Grenada must have proof of rabies and other relevant disease vaccination within the last 12 months and a health certificate issued by a licensed veterinarian, stating that the pet is disease free and in good health, within two (2) weeks of the flight.</p>
        </div>
      </div>
      <div class="service__col">
        <div class="service__content service__content--light">
          <div class="service__arrow">
            <svg class="service__svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <p class="service__text service__text--light h4">The Grenada Veterinary Officer may be present at the port of entry to inspect any pet that is arriving in Grenada. </p>
        </div>
      </div>
    </div>
  </div>
</section>