<section class="timetable">
  <div class="timetable__container container" data-tabs="timetable-tab">
    <h2 class="timetable__title h2">Current <span>Flight Schedule</span></h2>
    <div class="timetable__top">
      <div class="timetable__route-name h3">Ft. Lauderdale – Grenada – Ft. Lauderdale:</div>
      <div class="timetable__tabs">
        <ul class="timetable__nav list-reset tabs__nav">
          <li class="timetable__nav-item tabs__nav-item">
            <button class="timetable__nav-btn tabs__nav-btn btn-reset" type="button">
              <div class="timetable__arrow">
                <svg class="timetable__svg">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </div>
              <span class="h4">December 2022</span>
            </button>
          </li>
          <li class="timetable__nav-item tabs__nav-item">
            <button class="timetable__nav-btn tabs__nav-btn btn-reset" type="button">
              <div class="timetable__arrow">
                <svg class="timetable__svg">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
              </div>
              <span class="h4">August 2022</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="timetable__body timetable__body--desktop">
      <div class="timetable__content tabs__content">
        <div class="timetable__panel tabs__panel">
          <div class="timetable__row">
            <div class="timetable__date h4">Fri, Dec 9: </div>
            <div class="timetable__time time-timetable h4">
              <div class="time-timetable__left">
                <span class="time-timetable__time">12:00 PM</span>
                <span class="time-timetable__place">Depart St. George’s, GND (GND)</span>
              </div>
              <div class="time-timetable__center">
                <div class="time-timetable__arrow">
                  <svg class="time-timetable__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
                <p class="time-timetable__text">(Stop in Aguadilla, Puerto Rico, USA)</p>
              </div>
              <div class="time-timetable__right">
                <span class="time-timetable__time">17:08 PM</span>
                <span class="time-timetable__place">Arrive Fort Lauderdale, FL, USA (FLL)</span>
              </div>
            </div>
          </div>
          <div class="timetable__row">
            <div class="timetable__date h4">Sat, Dec 10:</div>
            <div class="timetable__time time-timetable h4">
              <div class="time-timetable__left">
                <span class="time-timetable__time">12:00 PM</span>
                <span class="time-timetable__place">Depart St. George’s, GND (GND)</span>
              </div>
              <div class="time-timetable__center">
                <div class="time-timetable__arrow">
                  <svg class="time-timetable__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
                <p class="time-timetable__text">(Stop in Aguadilla, Puerto Rico, USA)</p>
              </div>
              <div class="time-timetable__right">
                <span class="time-timetable__time">17:08 PM</span>
                <span class="time-timetable__place">Arrive Fort Lauderdale, FL, USA (FLL)</span>
              </div>
            </div>
          </div>
          <div class="timetable__row">
            <div class="timetable__date h4">Sun, Dec 11:</div>
            <div class="timetable__time time-timetable h4">
              <div class="time-timetable__left">
                <span class="time-timetable__time">12:00 PM</span>
                <span class="time-timetable__place">Depart St. George’s, GND (GND)</span>
              </div>
              <div class="time-timetable__center">
                <div class="time-timetable__arrow">
                  <svg class="time-timetable__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
                <p class="time-timetable__text">(Stop in Aguadilla, Puerto Rico, USA)</p>
              </div>
              <div class="time-timetable__right">
                <span class="time-timetable__time">17:08 PM</span>
                <span class="time-timetable__place">Arrive Fort Lauderdale, FL, USA (FLL)</span>
              </div>
            </div>
          </div>
          <div class="timetable__row">
            <div class="timetable__date h4">Mon, Dec 12:</div>
            <div class="timetable__time time-timetable h4">
              <div class="time-timetable__left">
                <span class="time-timetable__time">12:00 PM</span>
                <span class="time-timetable__place">Depart St. George’s, GND (GND)</span>
              </div>
              <div class="time-timetable__center">
                <div class="time-timetable__arrow">
                  <svg class="time-timetable__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
                <p class="time-timetable__text">(Stop in Aguadilla, Puerto Rico, USA)</p>
              </div>
              <div class="time-timetable__right">
                <span class="time-timetable__time">17:08 PM</span>
                <span class="time-timetable__place">Arrive Fort Lauderdale, FL, USA (FLL)</span>
              </div>
            </div>
          </div>
          <div class="timetable__row">
            <div class="timetable__date h4">Tue, Dec 13:</div>
            <div class="timetable__time time-timetable h4">
              <div class="time-timetable__left">
                <span class="time-timetable__time">12:00 PM</span>
                <span class="time-timetable__place">Depart St. George’s, GND (GND)</span>
              </div>
              <div class="time-timetable__center">
                <div class="time-timetable__arrow">
                  <svg class="time-timetable__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
                <p class="time-timetable__text">(Stop in Aguadilla, Puerto Rico, USA)</p>
              </div>
              <div class="time-timetable__right">
                <span class="time-timetable__time">17:08 PM</span>
                <span class="time-timetable__place">Arrive Fort Lauderdale, FL, USA (FLL)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="timetable__panel tabs__panel">
          <div class="timetable__row">
            <div class="timetable__date h4">Mon, Aug 1:</div>
            <div class="timetable__time time-timetable h4">
              <div class="time-timetable__left">
                <span class="time-timetable__time">10:00 AM</span>
                <span class="time-timetable__place">Depart Fort Lauderdale, FL, USA (FLL)</span>
              </div>
              <div class="time-timetable__center">
                <div class="time-timetable__arrow">
                  <svg class="time-timetable__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
                <p class="time-timetable__text">(Stop in Aguadilla, Puerto Rico, USA)</p>
              </div>
              <div class="time-timetable__right">
                <span class="time-timetable__time">15:08 PM</span>
                <span class="time-timetable__place">Arrive St. George’s, GND (GND)</span>
              </div>
            </div>
          </div>
          <div class="timetable__row">
            <div class="timetable__date h4">Mon, Aug 3:</div>
            <div class="timetable__time time-timetable h4">
              <div class="time-timetable__left">
                <span class="time-timetable__time">10:00 AM</span>
                <span class="time-timetable__place">Depart Fort Lauderdale, FL, USA (FLL)</span>
              </div>
              <div class="time-timetable__center">
                <div class="time-timetable__arrow">
                  <svg class="time-timetable__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
                <p class="time-timetable__text">(Stop in Aguadilla, Puerto Rico, USA)</p>
              </div>
              <div class="time-timetable__right">
                <span class="time-timetable__time">15:08 PM</span>
                <span class="time-timetable__place">Arrive St. George’s, GND (GND)</span>
              </div>
            </div>
          </div>
          <div class="timetable__row">
            <div class="timetable__date h4">Mon, Aug 5:</div>
            <div class="timetable__time time-timetable h4">
              <div class="time-timetable__left">
                <span class="time-timetable__time">10:00 AM</span>
                <span class="time-timetable__place">Depart Fort Lauderdale, FL, USA (FLL)</span>
              </div>
              <div class="time-timetable__center">
                <div class="time-timetable__arrow">
                  <svg class="time-timetable__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
                <p class="time-timetable__text">(Stop in Aguadilla, Puerto Rico, USA)</p>
              </div>
              <div class="time-timetable__right">
                <span class="time-timetable__time">15:08 PM</span>
                <span class="time-timetable__place">Arrive St. George’s, GND (GND)</span>
              </div>
            </div>
          </div>
          <div class="timetable__row">
            <div class="timetable__date h4">Mon, Aug 10:</div>
            <div class="timetable__time time-timetable h4">
              <div class="time-timetable__left">
                <span class="time-timetable__time">10:00 AM</span>
                <span class="time-timetable__place">Depart Fort Lauderdale, FL, USA (FLL)</span>
              </div>
              <div class="time-timetable__center">
                <div class="time-timetable__arrow">
                  <svg class="time-timetable__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
                <p class="time-timetable__text">(Stop in Aguadilla, Puerto Rico, USA)</p>
              </div>
              <div class="time-timetable__right">
                <span class="time-timetable__time">15:08 PM</span>
                <span class="time-timetable__place">Arrive St. George’s, GND (GND)</span>
              </div>
            </div>
          </div>
          <div class="timetable__row">
            <div class="timetable__date h4">Mon, Aug 11:</div>
            <div class="timetable__time time-timetable h4">
              <div class="time-timetable__left">
                <span class="time-timetable__time">10:00 AM</span>
                <span class="time-timetable__place">Depart Fort Lauderdale, FL, USA (FLL)</span>
              </div>
              <div class="time-timetable__center">
                <div class="time-timetable__arrow">
                  <svg class="time-timetable__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
                <p class="time-timetable__text">(Stop in Aguadilla, Puerto Rico, USA)</p>
              </div>
              <div class="time-timetable__right">
                <span class="time-timetable__time">15:08 PM</span>
                <span class="time-timetable__place">Arrive St. George’s, GND (GND)</span>
              </div>
            </div>
          </div>
          <div class="timetable__row">
            <div class="timetable__date h4">Mon, Aug 12:</div>
            <div class="timetable__time time-timetable h4">
              <div class="time-timetable__left">
                <span class="time-timetable__time">10:00 AM</span>
                <span class="time-timetable__place">Depart Fort Lauderdale, FL, USA (FLL)</span>
              </div>
              <div class="time-timetable__center">
                <div class="time-timetable__arrow">
                  <svg class="time-timetable__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
                <p class="time-timetable__text">(Stop in Aguadilla, Puerto Rico, USA)</p>
              </div>
              <div class="time-timetable__right">
                <span class="time-timetable__time">15:08 PM</span>
                <span class="time-timetable__place">Arrive St. George’s, GND (GND)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="timetable__body timetable__body--mobile">
      <div class="timetable__content">
        <div class="timetable__panel">
          <div class="timetable__month">
            <div class="timetable__arrow">
              <svg class="timetable__svg">
                <use xlink:href="img/sprite.svg#arrow"></use>
              </svg>
            </div>
            <span class="h4">December 2022</span>
          </div>
          <div data-dropdown="1" class="timetable__drop-down dropdown-timetable">
            <button class="dropdown-timetable__btn btn-reset" aria-expanded="false">
              <span></span>
              <svg>
                <use xlink:href="img/sprite.svg#arrow"></use>
              </svg>
            </button>
            <ul class="dropdown-timetable__list list-reset" aria-hidden="true">
              <li class="dropdown-timetable__item">
                <button class="dropdown-timetable__item-btn btn-reset">Fri, Dec 9:</button>
              </li>
              <li class="dropdown-timetable__item">
                <button class="dropdown-timetable__item-btn btn-reset">Sat, Dec 10:</button>
              </li>
              <li class="dropdown-timetable__item">
                <button class="dropdown-timetable__item-btn btn-reset">Sat, Dec 11:</button>
              </li>
              <li class="dropdown-timetable__item">
                <button class="dropdown-timetable__item-btn btn-reset">Sat, Dec 12:</button>
              </li>
              <li class="dropdown-timetable__item">
                <button class="dropdown-timetable__item-btn btn-reset">Sat, Dec 13:</button>
              </li>
            </ul>
          </div>
          <div data-dropdown-block="1" class="timetable__block">
            <div class="timetable__route timetable-route">
              <div class="timetable-route__left">
                <div class="timetable-route__top">
                  <div class="timetable-route__time h5">12:00 PM</div>
                  <div class="timetable-route__place h5">Depart St. George’s, GND (GND)</div>
                </div>
                <div class="timetable-route__bottom">
                  <div class="timetable-route__time h5">17:08 PM</div>
                  <div class="timetable-route__place h5">Arrive Fort Lauderdale, FL, USA (FLL)</div>
                </div>
              </div>
              <div class="timetable-route__center">
                <div class="timetable-route__arrow">
                  <svg class="timetable-route__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
              </div>
              <div class="timetable-route__right">
                <div class="timetable-route__text h5">(Stop in Aguadilla, Puerto Rico, USA)</div>
              </div>
            </div>
            <div class="timetable__route timetable-route">
              <div class="timetable-route__left">
                <div class="timetable-route__top">
                  <div class="timetable-route__time h5">12:00 PM</div>
                  <div class="timetable-route__place h5">Depart St. George’s, GND (GND)</div>
                </div>
                <div class="timetable-route__bottom">
                  <div class="timetable-route__time h5">17:08 PM</div>
                  <div class="timetable-route__place h5">Arrive Fort Lauderdale, FL, USA (FLL)</div>
                </div>
              </div>
              <div class="timetable-route__center">
                <div class="timetable-route__arrow">
                  <svg class="timetable-route__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
              </div>
              <div class="timetable-route__right">
                <div class="timetable-route__text h5">(Stop in Aguadilla, Puerto Rico, USA)</div>
              </div>
            </div>
            <div class="timetable__route timetable-route">
              <div class="timetable-route__left">
                <div class="timetable-route__top">
                  <div class="timetable-route__time h5">12:00 PM</div>
                  <div class="timetable-route__place h5">Depart St. George’s, GND (GND)</div>
                </div>
                <div class="timetable-route__bottom">
                  <div class="timetable-route__time h5">17:08 PM</div>
                  <div class="timetable-route__place h5">Arrive Fort Lauderdale, FL, USA (FLL)</div>
                </div>
              </div>
              <div class="timetable-route__center">
                <div class="timetable-route__arrow">
                  <svg class="timetable-route__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
              </div>
              <div class="timetable-route__right">
                <div class="timetable-route__text h5">(Stop in Aguadilla, Puerto Rico, USA)</div>
              </div>
            </div>
            <div class="timetable__route timetable-route">
              <div class="timetable-route__left">
                <div class="timetable-route__top">
                  <div class="timetable-route__time h5">12:00 PM</div>
                  <div class="timetable-route__place h5">Depart St. George’s, GND (GND)</div>
                </div>
                <div class="timetable-route__bottom">
                  <div class="timetable-route__time h5">17:08 PM</div>
                  <div class="timetable-route__place h5">Arrive Fort Lauderdale, FL, USA (FLL)</div>
                </div>
              </div>
              <div class="timetable-route__center">
                <div class="timetable-route__arrow">
                  <svg class="timetable-route__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
              </div>
              <div class="timetable-route__right">
                <div class="timetable-route__text h5">(Stop in Aguadilla, Puerto Rico, USA)</div>
              </div>
            </div>
            <div class="timetable__route timetable-route">
              <div class="timetable-route__left">
                <div class="timetable-route__top">
                  <div class="timetable-route__time h5">12:00 PM</div>
                  <div class="timetable-route__place h5">Depart St. George’s, GND (GND)</div>
                </div>
                <div class="timetable-route__bottom">
                  <div class="timetable-route__time h5">17:08 PM</div>
                  <div class="timetable-route__place h5">Arrive Fort Lauderdale, FL, USA (FLL)</div>
                </div>
              </div>
              <div class="timetable-route__center">
                <div class="timetable-route__arrow">
                  <svg class="timetable-route__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
              </div>
              <div class="timetable-route__right">
                <div class="timetable-route__text h5">(Stop in Aguadilla, Puerto Rico, USA)</div>
              </div>
            </div>
          </div>
        </div>
        <div class="timetable__panel">
          <div class="timetable__month">
            <div class="timetable__arrow">
              <svg class="timetable__svg">
                <use xlink:href="img/sprite.svg#arrow"></use>
              </svg>
            </div>
            <span class="h4">August 2022</span>
          </div>
          <div data-dropdown="2" class="timetable__drop-down dropdown-timetable">
            <button class="dropdown-timetable__btn btn-reset" aria-expanded="false">
              <span></span>
              <svg>
                <use xlink:href="img/sprite.svg#arrow"></use>
              </svg>
            </button>
            <ul class="dropdown-timetable__list list-reset" aria-hidden="true">
              <li class="dropdown-timetable__item">
                <button class="dropdown-timetable__item-btn btn-reset">Mon, Aug 1</button>
              </li>
              <li class="dropdown-timetable__item">
                <button class="dropdown-timetable__item-btn btn-reset">Wed, Aug 3</button>
              </li>
              <li class="dropdown-timetable__item">
                <button class="dropdown-timetable__item-btn btn-reset">Wed, Aug 5</button>
              </li>
              <li class="dropdown-timetable__item">
                <button class="dropdown-timetable__item-btn btn-reset">Wed, Aug 10</button>
              </li>
              <li class="dropdown-timetable__item">
                <button class="dropdown-timetable__item-btn btn-reset">Wed, Aug 11</button>
              </li>
              <li class="dropdown-timetable__item">
                <button class="dropdown-timetable__item-btn btn-reset">Wed, Aug 12</button>
              </li>
            </ul>
          </div>
          <div data-dropdown-block="2" class="timetable__block">
            <div class="timetable__route timetable-route">
              <div class="timetable-route__left">
                <div class="timetable-route__top">
                  <div class="timetable-route__time h5">10:00 AM</div>
                  <div class="timetable-route__place h5">Depart Fort Lauderdale, FL, USA (FLL)</div>
                </div>
                <div class="timetable-route__bottom">
                  <div class="timetable-route__time h5">15:08 PM</div>
                  <div class="timetable-route__place h5">Arrive St. George’s, GND (GND)</div>
                </div>
              </div>
              <div class="timetable-route__center">
                <div class="timetable-route__arrow">
                  <svg class="timetable-route__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
              </div>
              <div class="timetable-route__right">
                <div class="timetable-route__text h5">(Stop in Aguadilla, Puerto Rico, USA)</div>
              </div>
            </div>
            <div class="timetable__route timetable-route">
              <div class="timetable-route__left">
                <div class="timetable-route__top">
                  <div class="timetable-route__time h5">10:00 AM</div>
                  <div class="timetable-route__place h5">Depart Fort Lauderdale, FL, USA (FLL)</div>
                </div>
                <div class="timetable-route__bottom">
                  <div class="timetable-route__time h5">15:08 PM</div>
                  <div class="timetable-route__place h5">Arrive St. George’s, GND (GND)</div>
                </div>
              </div>
              <div class="timetable-route__center">
                <div class="timetable-route__arrow">
                  <svg class="timetable-route__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
              </div>
              <div class="timetable-route__right">
                <div class="timetable-route__text h5">(Stop in Aguadilla, Puerto Rico, USA)</div>
              </div>
            </div>
            <div class="timetable__route timetable-route">
              <div class="timetable-route__left">
                <div class="timetable-route__top">
                  <div class="timetable-route__time h5">10:00 AM</div>
                  <div class="timetable-route__place h5">Depart Fort Lauderdale, FL, USA (FLL)</div>
                </div>
                <div class="timetable-route__bottom">
                  <div class="timetable-route__time h5">15:08 PM</div>
                  <div class="timetable-route__place h5">Arrive St. George’s, GND (GND)</div>
                </div>
              </div>
              <div class="timetable-route__center">
                <div class="timetable-route__arrow">
                  <svg class="timetable-route__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
              </div>
              <div class="timetable-route__right">
                <div class="timetable-route__text h5">(Stop in Aguadilla, Puerto Rico, USA)</div>
              </div>
            </div>
            <div class="timetable__route timetable-route">
              <div class="timetable-route__left">
                <div class="timetable-route__top">
                  <div class="timetable-route__time h5">10:00 AM</div>
                  <div class="timetable-route__place h5">Depart Fort Lauderdale, FL, USA (FLL)</div>
                </div>
                <div class="timetable-route__bottom">
                  <div class="timetable-route__time h5">15:08 PM</div>
                  <div class="timetable-route__place h5">Arrive St. George’s, GND (GND)</div>
                </div>
              </div>
              <div class="timetable-route__center">
                <div class="timetable-route__arrow">
                  <svg class="timetable-route__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
              </div>
              <div class="timetable-route__right">
                <div class="timetable-route__text h5">(Stop in Aguadilla, Puerto Rico, USA)</div>
              </div>
            </div>
            <div class="timetable__route timetable-route">
              <div class="timetable-route__left">
                <div class="timetable-route__top">
                  <div class="timetable-route__time h5">10:00 AM</div>
                  <div class="timetable-route__place h5">Depart Fort Lauderdale, FL, USA (FLL)</div>
                </div>
                <div class="timetable-route__bottom">
                  <div class="timetable-route__time h5">15:08 PM</div>
                  <div class="timetable-route__place h5">Arrive St. George’s, GND (GND)</div>
                </div>
              </div>
              <div class="timetable-route__center">
                <div class="timetable-route__arrow">
                  <svg class="timetable-route__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
              </div>
              <div class="timetable-route__right">
                <div class="timetable-route__text h5">(Stop in Aguadilla, Puerto Rico, USA)</div>
              </div>
            </div>
            <div class="timetable__route timetable-route">
              <div class="timetable-route__left">
                <div class="timetable-route__top">
                  <div class="timetable-route__time h5">10:00 AM</div>
                  <div class="timetable-route__place h5">Depart Fort Lauderdale, FL, USA (FLL)</div>
                </div>
                <div class="timetable-route__bottom">
                  <div class="timetable-route__time h5">15:08 PM</div>
                  <div class="timetable-route__place h5">Arrive St. George’s, GND (GND)</div>
                </div>
              </div>
              <div class="timetable-route__center">
                <div class="timetable-route__arrow">
                  <svg class="timetable-route__svg">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                  </svg>
                </div>
              </div>
              <div class="timetable-route__right">
                <div class="timetable-route__text h5">(Stop in Aguadilla, Puerto Rico, USA)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>