$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1161;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

:root {
  // base
  --font-family: "OpenSans", sans-serif;
  --content-width: 1161px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;

  --dodger-blue: #3399FF;
  --aqua: #40FFF2;
  --dodger-blue-2: #1F81F2;

  --black: #000;
  --black-pearl: #071D36;
  --shark: #1B1D21;
  --oslo-gray: #8D8E90;
  --concrete: #F3F3F3;

  --egg-white: #FFEAC1;
  --bridal-heath: #FFFBF4;
  --cosmos: #FFD8D8;
  --chablis: #FFF5F5;

  --error-text: #F93232;

  --border-radius: 10px;
}
